.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(233, 47%, 7%);
  margin: 0;
}

main {
  background-color: hsl(244, 38%, 16%);
  display: flex;
  width: 80%;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.4em;
  justify-content: space-between;
}

.text{
  display: flex;
  flex-direction: column;
  padding: 4em;
}

h1 {
  font-family: 'Inter', sans-serif;
  color: hsl(0, 0%, 100%);
  font-size: 2.5rem;
}

h1 span {
  color: hsl(277, 64%, 61%);
}

.subtitle {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.8rem;
}

.stat {
  font-family: 'Inter', sans-serif;
  color: hsl(0, 0%, 100%);
}

.upper {
  text-transform: uppercase;
}

.image {
  padding: 0;
  width: 50%;
  margin: 0;
}

.statRow{
  display: flex;
  justify-content: space-around;
  border: 1px solid red;
}

img {
  margin: 0;
}

/* font-family: 'Inter', sans-serif; */
/* font-family: 'Lexend Deca', sans-serif; */
