.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.PositionDiv{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 70%; */
}

body {
  background-color: hsl(233, 47%, 7%);
  margin: 0;
}

.MainDiv {
  background-color: hsl(244, 38%, 16%);
  /* background-color: white; */
  /* background-image: url("images\\image-header-desktop.jpg"); */
  /* background-size: 50%; */
  /* background-repeat: no-repeat; */
  /* background-position: right; */
  /* width: 70%; */
  border-radius: 0.5em;
  position: relative;
}

.mainHeading {
  font-family: 'Inter', sans-serif;
  color: hsl(0, 0%, 100%);
}

.mainHeading span {
  color: hsl(277, 64%, 61%);
}

.LeftMain{
  width: 50%;
  display: inline-block;
}

.image{
  width: 50%;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  position: absolute;
  right: 0px;
  display: inline-block;
}

.Stats{
  color: hsl(0, 0%, 100%);
}

/* font-family: 'Inter', sans-serif; */
/* font-family: 'Lexend Deca', sans-serif; */
